<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<table
			class="m_-8480678721163656534table"
			width="1024"
			border="0"
			cellspacing="0"
			cellpadding="0"
			style="border-collapse: collapse; border: none; margin: 0px auto"
		>
			<tbody>
				<tr>
					<td
						align="center"
						style="background: #f2f2f2; height: 60px"
						class="m_-8480678721163656534table__td"
					>
						<div
							class="m_-8480678721163656534table-inner m_-8480678721163656534table-inner_top"
							style="
								display: table;
								border-collapse: collapse;
								border: none;
								width: 680px;
							"
						>
							<div
								class="m_-8480678721163656534table-inner__td"
								style="
									display: table-cell;
									vertical-align: middle;
									border: none;
									font-size: 0;
									text-align: left;
								"
							>
								<div
									style="
										display: table-cell;
										vertical-align: middle;
									"
								>
									<a
										class="m_-8480678721163656534header__link"
										href="https://uvanna.store/actions"
										style="
											display: block;
											font-family: arial, sans-serif;
											font-size: 11px;
											line-height: 55px;
											color: #000;
											text-decoration: none;
										"
										target="_blank"
										data-saferedirecturl="https://uvanna.store/actions"
									>
										Акции
									</a>
								</div>
								<div
									class="m_-8480678721163656534header__slash"
									style="
										display: table-cell;
										vertical-align: middle;
										width: 20px;
										height: 55px;
										font-family: arial, sans-serif;
										font-size: 11px;
										text-align: center;
									"
								>
									/
								</div>
								<div
									style="
										display: table-cell;
										vertical-align: middle;
									"
								>
									<a
										class="m_-8480678721163656534header__link"
										href="https://uvanna.store/ourWorks"
										style="
											display: block;
											font-family: arial, sans-serif;
											font-size: 11px;
											line-height: 55px;
											color: #000;
											text-decoration: none;
										"
										target="_blank"
										data-saferedirecturl="https://uvanna.store/ourWorks"
										>Наши работы</a
									>
								</div>
								<div
									class="m_-8480678721163656534header__slash"
									style="
										display: table-cell;
										vertical-align: middle;
										width: 20px;
										height: 55px;
										font-family: arial, sans-serif;
										font-size: 11px;
										text-align: center;
									"
								>
									/
								</div>
								<div
									style="
										display: table-cell;
										vertical-align: middle;
									"
								>
									<a
										class="m_-8480678721163656534header__link"
										href="https://uvanna.store/blog"
										style="
											display: block;
											font-family: arial, sans-serif;
											font-size: 11px;
											line-height: 55px;
											color: #000;
											text-decoration: none;
										"
										target="_blank"
										data-saferedirecturl="https://uvanna.store/blog"
										>Наш блог</a
									>
								</div>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td
						align="center"
						style="background: #aaebf3"
						class="m_-8480678721163656534table__td"
					>
						<div
							class="m_-8480678721163656534table-inner m_-8480678721163656534logo-container"
							style="
								display: table;
								border-collapse: collapse;
								border: none;
								width: 680px;
							"
						>
							<div
								style="
									height: 138px;
									display: table-cell;
									vertical-align: middle;
									border: none;
									font-size: 0;
									text-align: left;
								"
							>
								<a
									href="https://uvanna.store/"
									style="border: 0"
									target="_blank"
								>
									<img
										src="https://uvanna.store/images/1eb1761a-44ff-411a-9a78-06bbaab6405d"
										class="m_-8480678721163656534logo CToWUd"
										alt=""
										border="0"
										width="200"
										style="border: none; outline: none"
										data-bit="iit"
									/>
								</a>
							</div>
							<div
								style="
									width: 96px;
									display: table-cell;
									vertical-align: middle;
									border: none;
									font-size: 0;
								"
							>
								<a
									href="https://uvanna.store/shops"
									style="
										display: block;
										border: 0;
										font-family: arial, sans-serif;
										font-size: 11px;
										text-align: right;
										color: #000;
										text-decoration: none;
									"
									target="_blank"
									data-saferedirecturl="https://uvanna.store/shops"
								>
									Адрес магазина
								</a>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td
						align="center"
						style="background: rgb(117, 231, 138); text-align: left"
						class="m_-8480678721163656534table__td"
					>
						<div
							class="m_-8480678721163656534table-inner m_-8480678721163656534order"
							style="
								display: table;
								border-collapse: collapse;
								border: none;
								width: 680px;
								text-align: left;
								margin: 30px auto 32px;
							"
						>
							<div
								style="
									display: table;
									background: rgb(117, 231, 138);
								"
							>
								<div
									style="display: table; margin: 15px 0px"
									class="m_-8480678721163656534order__title"
								>
									<div
										style="
											font-family: arial, sans-serif;
											font-weight: bold;
											font-size: 20px;
										"
									>
										Заказ успешно оформлен!
									</div>
									<div
										style="
											font-family: arial, sans-serif;
											font-size: 15px;
											padding-top: 15px;
										"
									>
										Заказ
										<strong>№ </strong><strong th:text="${code}"></strong> на
										сумму
										<strong th:text="${price}"></strong><strong> руб.</strong> оформлен,
										используйте этот код для
										<a
												style="color: #19a3ff; text-decoration-line: underline"
												target="_blank"
												th:href="${findOrder}"
										> поиска заказа и его отслеживания на этой странице.
										</a>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>

				<tr>
					<td
						align="center"
						style="background: #fff; text-align: left"
						class="m_-8480678721163656534table__td"
					>
						<div
							class="m_-8480678721163656534table-inner m_-8480678721163656534social"
							style="
								width: 680px;
								margin: 40px auto;
								text-align: left;
							"
						>
							<table
								width="84%"
								align="center"
								border="0"
								cellspacing="0"
								cellpadding="0"
								style="border-collapse: collapse; border: none"
							>
								<tbody>
									<tr>
										<td
											border="0"
											style="
												border: none;
												text-align: center;
											"
										>
											<table
												width="55%"
												align="left"
												border="0"
												cellspacing="0"
												cellpadding="0"
												style="
													border-collapse: collapse;
													border: none;
												"
											>
												<tbody>
													<tr>
														<td
															border="0"
															valign="top"
															style="
																border: none;
																text-align: center;
																vertical-align: top;
															"
														>
															<table
																width="75"
																align="left"
																border="0"
																cellspacing="0"
																cellpadding="0"
																style="
																	border-collapse: collapse;
																	border: none;
																"
															>
																<t body>
																	<tr>
																		<td
																			border="0"
																			valign="top"
																			style="
																				border: none;
																				text-align: center;
																				vertical-align: top;
																			"
																		>
																			<table
																				align="center"
																				width="100%"
																				border="0"
																				cellspacing="0"
																				cellpadding="0"
																				style="
																					border-collapse: collapse;
																					border: none;
																				"
																			>
																				<tbody>
																					<tr>
																						<td
																							height="40"
																							border="0"
																							style="
																								border: none;
																								text-align: left;
																								font-family: 'Open Sans',
																									Tahoma,
																									sans-serif;
																								font-size: 10px;
																								line-height: 12px;
																								color: #000000;
																								font-weight: 700;
																							"
																						>
																							UVANNA
																							STORE
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</t>
															</table>
															<table
																width="200"
																align="left"
																border="0"
																cellspacing="0"
																cellpadding="0"
																style="
																	border-collapse: collapse;
																	border: none;
																"
															>
																<tbody>
																	<tr>
																		<td
																			border="0"
																			valign="top"
																			style="
																				border: none;
																				text-align: center;
																				vertical-align: top;
																			"
																		>
																			<table
																				align="center"
																				width="200"
																				border="0"
																				cellspacing="0"
																				cellpadding="0"
																				style="
																					border-collapse: collapse;
																					border: none;
																				"
																			>
																				<tbody>
																					<tr>
																						<td
																							border="0"
																							style="
																								border: none;
																								text-align: left;
																								font-size: 0;
																								line-height: 0;
																							"
																						>
																							<a
																								href="https://vk.com/smartsan"
																								target="_blank"
																								data-saferedirecturl="https://www.google.com/url?q=https://t.me/streetbeatru&amp;source=gmail&amp;ust=1670840970901000&amp;usg=AOvVaw3Msv9FOBDDV783o-vdeobl"
																							>
																								<svg
																									xmlns="http://www.w3.org/2000/svg"
																									class="icon icon-tabler icon-tabler-brand-vk"
																									width="24"
																									height="24"
																									viewBox="0 0 24 24"
																									stroke-width="2"
																									stroke="#1D71B8"
																									fill="none"
																									stroke-linecap="round"
																									stroke-linejoin="round"
																								>
																									<path
																										stroke="none"
																										d="M0 0h24v24H0z"
																										fill="none"
																									></path>
																									<path
																										d="M14 19h-4a8 8 0 0 1 -8 -8v-5h4v5a4 4 0 0 0 4 4h0v-9h4v4.5l.03 -.004a4.531 4.531 0 0 0 3.97 -4.496h4l-.342 1.711a6.858 6.858 0 0 1 -3.658 4.789h0a5.34 5.34 0 0 1 3.566 4.111l.434 2.389h0h-4a4.531 4.531 0 0 0 -3.97 -4.496v4.5z"
																									></path>
																								</svg>
																							</a>
																						</td>
																						<td
																							width="10"
																							border="0"
																							style="
																								border: none;
																							"
																						>
																							&nbsp;
																						</td>
																						<td
																							border="0"
																							style="
																								border: none;
																								text-align: left;
																								font-size: 0;
																								line-height: 0;
																							"
																						>
																							<a
																								href="#"
																								target="_blank"
																								data-saferedirecturl="#"
																							>
																								<svg
																									xmlns="http://www.w3.org/2000/svg"
																									class="icon icon-tabler icon-tabler-brand-telegram"
																									width="24"
																									height="24"
																									viewBox="0 0 24 24"
																									stroke-width="2"
																									stroke="#1D71B8"
																									fill="none"
																									stroke-linecap="round"
																									stroke-linejoin="round"
																								>
																									<path
																										stroke="none"
																										d="M0 0h24v24H0z"
																										fill="none"
																									></path>
																									<path
																										d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"
																									></path>
																								</svg>
																							</a>
																						</td>
																						<td
																							width="10"
																							border="0"
																							style="
																								border: none;
																							"
																						>
																							&nbsp;
																						</td>
																						<td
																							border="0"
																							style="
																								border: none;
																								text-align: left;
																								font-size: 0;
																								line-height: 0;
																							"
																						>
																							<a
																								href="#"
																								target="_blank"
																								data-saferedirecturl="#"
																								><svg
																									xmlns="http://www.w3.org/2000/svg"
																									class="icon icon-tabler icon-tabler-brand-whatsapp"
																									width="24"
																									height="24"
																									viewBox="0 0 24 24"
																									stroke-width="2"
																									stroke="#1D71B8"
																									fill="none"
																									stroke-linecap="round"
																									stroke-linejoin="round"
																								>
																									<path
																										stroke="none"
																										d="M0 0h24v24H0z"
																										fill="none"
																									></path>
																									<path
																										d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"
																									></path>
																									<path
																										d="M9 10a0.5 .5 0 0 0 1 0v-1a0.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a0.5 .5 0 0 0 0 -1h-1a0.5 .5 0 0 0 0 1"
																									></path></svg
																							></a>
																						</td>
																						<td
																							width="10"
																							border="0"
																							style="
																								border: none;
																							"
																						>
																							&nbsp;
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
													<tr>
														<td height="20"></td>
													</tr>
												</tbody>
											</table>
											<table
												width="42%"
												align="right"
												border="0"
												cellspacing="0"
												cellpadding="0"
												style="
													border-collapse: collapse;
													border: none;
												"
											></table>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
				<tr>
					<td
						align="center"
						style="background: #fff; padding-bottom: 40px"
						class="m_-8480678721163656534table__td"
					>
						<table
							class="m_-8480678721163656534table-inner"
							width="680px"
							border="0"
							cellspacing="0"
							cellpadding="0"
							align="center"
							style="border-collapse: collapse; border: none"
						>
							<tbody>
								<tr>
									<td
										border="0"
										colspan="3"
										style="border: none"
									></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
